iframe {
    pointer-events: auto !important;
    max-width: 100%;
    /* 左右居中 */
    margin: 0 auto;
    /* height: 513px;
    width: 903px; */
}

strong{
    border-bottom: none;
    box-shadow: none;
    background-image: none;
    /* background-color: transparent; */
    color: #65b84d;
    font-weight: bold;
    padding-bottom: 1px;
    /* border-bottom: 2px solid currentColor; */
    text-decoration: none;
}

.theme-record-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 或者设置为你希望的高度 */
}

.theme-container .theme-main {
    /* 移除max-width */
    max-width: none !important;
}

.navbar-container .navbar-inner{
    max-width: none !important;
}

.page-catalog-container {
    width: 25rem !important;
    /* 滚动条美化 */
    overflow-y: auto !important;
    scrollbar-width: thin;
    /* Firefox 的滚动条宽度 */
    scrollbar-color: rgba(5, 5, 5, 0) transparent;
    /* Firefox 的滚动条颜色 */
}

.series-container {
    width: 20rem !important;
    /* 滚动条美化 */
    overflow-y: auto !important;
    scrollbar-width: thin;
    /* Firefox 的滚动条宽度 */
    scrollbar-color: rgba(5, 5, 5, 0) transparent;
    /* Firefox 的滚动条颜色 */
}


.theme-reco-md-content{
    /* 判断如果有iframe 则padding-left */
    padding-left: 50% !important;
    position: relative;
    border: #65b84d 1px solid !important;
    border-radius: 5px !important;
    padding: 1rem !important;
}

.theme-reco-md-content p blockquote {
    line-height: 0.8rem !important;
}

/* 第一个span隐藏掉 */
.page-info span:first-child{
    display: none!important;
}

.page-catalog-container {
    top: 7rem !important;
}